.score-title {
    margin-top: 50px;
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    margin-left: 50px;
}

.score-field {
    margin-top: 50px;
    display: inline-block;
    margin-left: 20px;
    font-size: 30px;
    font-weight: bold;
}

.field {
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    border-left: 1px solid #000;
    border-top: 1px solid #000;
}

.field > div {
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}

.fruit {
    background: red;
}

.snake {
    background: yellowgreen;
}

.wall {
    background: #000;
}